<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kontinua Foundation Readers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>The Sequence</h1>

    {% if latest_us_collection %}
    <h2>Latest Collection: {{ latest_us_collection.major_version }}.{{ latest_us_collection.minor_version }}</h2>
    {% for workbook in latest_us_collection.workbooks.all %}
    <a target="_blank" rel="noopener noreferrer" href="{{workbook.pdf.url}}">
        <img src="{% static 'covers/' %}{{workbook.number}}.png" alt="My image">
    </a>
    {% endfor %}
    {% endif %}
</body>
</html>